/*  your css code here. If applicable */
*{
	background-color: rgb(135,206,235);
	margin:0;
	
}
.para1{
	background-color: black;
	color: white;
	margin: 0px;
	padding:0px;
}
.para3{
	color: red;
}
article {
  padding: 20px;
}
p{
	padding:10px
}
.list {
  list-style: none;
  padding:0;
}

.list li {
  width: 50%;
  padding: 10px;
}

.list li:nth-child(even) {
  background-color: grey;
}

.large-font {
  font-size: 22px;
  background-color: white;
}

.pink-bg {
  background-color: pink;
}
